<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7bf667">  <td>14/04/07 17:01:42</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SpotifyValidEndToEndByArtistNameTest.beforeClass()[pri:0, instance:org.sikuli.api.spotify_auto.SpotifyValidEndToEndByArtistNameTest@51a84ed6]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td>  <td>main@905375489</td>   <td></td> </tr>
<tr bgcolor="7bf667">  <td>14/04/07 17:01:42</td>   <td>39</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SpotifyValidEndToEndByArtistNameTest.validCredentialsLogin()[pri:0, instance:org.sikuli.api.spotify_auto.SpotifyValidEndToEndByArtistNameTest@51a84ed6]">validCredentialsLogin</td> 
  <td>main@905375489</td>   <td></td> </tr>
<tr bgcolor="7bf667">  <td>14/04/07 17:03:03</td>   <td>80839</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SpotifyValidEndToEndByArtistNameTest.beforeClass()[pri:0, instance:org.sikuli.api.spotify_auto.SpotifyValidEndToEndByArtistNameTest@51a84ed6]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td>  <td>main@905375489</td>   <td></td> </tr>
<tr bgcolor="7bf667">  <td>14/04/07 17:03:03</td>   <td>80839</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SpotifyValidEndToEndByArtistNameTest.searchSong()[pri:0, instance:org.sikuli.api.spotify_auto.SpotifyValidEndToEndByArtistNameTest@51a84ed6]">searchSong</td> 
  <td>main@905375489</td>   <td></td> </tr>
<tr bgcolor="7bf667">  <td>14/04/07 17:03:20</td>   <td>98080</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SpotifyValidEndToEndByArtistNameTest.beforeClass()[pri:0, instance:org.sikuli.api.spotify_auto.SpotifyValidEndToEndByArtistNameTest@51a84ed6]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td>  <td>main@905375489</td>   <td></td> </tr>
<tr bgcolor="7bf667">  <td>14/04/07 17:03:20</td>   <td>98080</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SpotifyValidEndToEndByArtistNameTest.playSong()[pri:0, instance:org.sikuli.api.spotify_auto.SpotifyValidEndToEndByArtistNameTest@51a84ed6]">playSong</td> 
  <td>main@905375489</td>   <td></td> </tr>
<tr bgcolor="7bf667">  <td>14/04/07 17:03:35</td>   <td>113131</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SpotifyValidEndToEndByArtistNameTest.tearDown()[pri:0, instance:org.sikuli.api.spotify_auto.SpotifyValidEndToEndByArtistNameTest@51a84ed6]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@905375489</td>   <td></td> </tr>
</table>
